header{
  font-size: 60px;
  color: beige;
}
p{
color: beige;
font-size: 20px;
}

.header-flex-box {
			background-color: white;
			height: 100px;
			width: 98vw;
			display: flex;
}
.flex-header{
  background-color: #123456;
  height: 60px;
	width: 100vw;
	display: flex;
  justify-content: center;
}

.flex-main{
  width: 98vw;
  display: flex;
}

.flex-nav{
  background-color: #123456;
  height: 36vw;
	width: 10vw;
	display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-content{
display: flex;
background-color: #123456;
width: 90vw;
margin-left: 40px;
align-items: center;
justify-content: space-around;
}

.flex-footer{
  width: 98vw;
  height: 20px;
  margin-top: 25px;
  display: flex;
  font-size: 15px;
  color: beige;
  background-color: #123456;
  justify-content: center;
  align-items: center;
}























/* unvisited link */
a:link {
  color: beige;
}

/* visited link */
a:visited {
  color: beige;
}

/* mouse over link */
a:hover {
  color: rgb(251, 251, 86);
  font-size: 25px;
}

/* selected link */
a:active {
  color: beige;
}